<% provide(:title, "注册") %>
<h2 class="sign">注册</h2>
<div class = "Sign_Up">
    <%= form_for(@user, url: signup_path) do |f| %>
         <b><%= f.label "名字" %></b></br>
         <%= f.text_field :name, class:"sign_up" %></br>

         <b><%= f.label "邮箱" %></b></br>
         <%= f.email_field :email , class:"sign_up"%></br>

         <b><%= f.label "密码" %></b></br>
         <%= f.password_field :password ,class:"sign_up" %></br>

         <b><%= f.label  "重复密码" %></b></br>
         <%= f.password_field :password_confirmation ,class:"sign_up" %></br>

         <%= f.submit "注 册", class: "submit" %>
    <% end %>
</div>