<% provide(:title, "请修改你的信息") %>
<h2 class="sign">修改个人信息</h2>
<div class = "Sign_Up">
    <%= form_for(@micropost,url: edit_micropost_path) do |f| %>
         <b><%= f.label "姓名" %></b></br>
         <%= f.text_field :name, class:"sign_up" %></br>

         <b><%= f.label "芳龄" %></b></br>
         <%= f.text_field :age , class:"sign_up"%></br>

         <b><%= f.label "性别" %></b></br>
         </br>
         <%= f.label "男" %>
         <%= f.radio_button :gender , "男" %>
         <%= f.label "女" %>
         <%= f.radio_button :gender , "女" %></br>
         </br>

         <b><%= f.label :institute, "所在研究所" %></b></br>
         </br>
         <%= f.select :institute, options_for_select([ ['新疆理化所',0], ['计算技术所', 1], ['软件所', 2], ['网络中心', 3],['新疆天文台', 4],['新疆生态与地理研究所', 5],['西双版纳热带植物园', 6]]) %>
         </br>
         </br>
         <b><%= f.label :content, "交友宣言" %></b></br>
         <%= f.text_area :content ,class:"content" %></br>
         <span>
         <input type="text" name="fileShowName" id="fileShowName" readonly="readonly" class="file_name" />	
         <input type="button" id="fileButton" name="fileButton" value="浏览" onclick="upload()" class="file"/>
         </span>
         <%= f.file_field :picture, style: "display: none;" , onchange: "show_value()"%>
         <%= f.submit "提交我的信息", class: "submit" %></br>
    <% end %>
</div>