<% provide(:title, "fill your profile") %>
<h2 class="sign">Profile</h2>
<div class = "Sign_Up">
    <%= form_for(@micropost,url: new_micropost_path) do |f| %>
         <b><%= f.label :name %></b></br>
         <%= f.text_field :name, class:"sign_up" %></br>

         <b><%= f.label :age %></b></br>
         <%= f.text_field :age , class:"sign_up"%></br>

         <b><%= f.label :gender %></b></br>
         <%= f.text_field :gender ,class:"sign_up" %></br>

         <b><%= f.label :institute, "institute" %></b></br>
         <%= f.text_field :institute ,class:"sign_up" %></br>
         
         <b><%= f.label :content, "content" %></b></br>
         <%= f.text_field :content ,class:"content" %></br>
         <span>
         <input type="text" name="fileShowName" id="fileShowName" readonly="readonly" class="file_name" />	
         <input type="button" id="fileButton" name="fileButton" value="browse" onclick="upload()" class="file"/>
         </span>
         <%= f.file_field :picture, style: "display: none;" , onchange: "show_value()"%>
         <%= f.submit "Upload my profile", class: "submit" %></br>
    <% end %>
</div>