<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "home">
    <%= yield %>
    <div class="top" >
      <h1 class = "logo">三&nbsp;生&nbsp;缘</h1>
      <% if logged_in? %>
        <%= link_to "个人信息", current_user, class: "tool_bar" %>
        <%= link_to " 注销  ", logout_path, method: :delete ,class: "tool_bar"%>
      <% else %>  
        <%= link_to " 登陆  ", login_path, class: "tool_bar" %>
      <% end %>
      <%= link_to " 缘起  ", list_path, class: "tool_bar" %>
    </div>
  </body>
</html>
